main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* center items horizontally, in this case, the form */
    min-height: 100vh;
    margin-inline: 5vw;
}

.screen-shot {
    width: 40vw;
    height: 40vh;
    object-fit: contain;
}

.new-line {
    margin: 0;
    white-space: pre-line;
}

ul {
    list-style-type: none;
}

ul>li {
    margin-bottom: 1em;
}